extends layouts/base-layout

block prepend  content
  form(id='user_form',action='/signup',method='POST')
block append content
  div(data-role='page')#one
    //- 年龄面板
    #age-panel(data-role='panel',data-position='right')
      h2 年龄
        ul(data-role='listview')
          each age in [18,19,20,21,22,23,24,25,26,27,28,29,30]
            li(onclick='selectAge(#{age})', data-rel="close")
              a  #{age} 岁
    .ui-content(role='main') 
      form(method='post')#userForm
        .ui-field-contain
          label(for='name') 姓名
          input(type='text',name='name')#name
        .ui-field-contain
          label(for='phone') 手机号
          input(type='tel',name='phone')#phone
         .ui-field-contain
          label(for='school') 学校
          input(name='school',type='text',value='文华学院')#school
        .ui-field-contain
          label(for='gender') 性别
          select(name='gender', data-native-menu='false')#gender
            option(value='男') 男
            option(value='女') 女
        .ui-field-contain
          label(for='age') 年龄
          a(href='#age-panel') 
            input(name='age',type='number',disabled='disabled',value='18')#age
    div(data-role='footer',data-position='fixed')
        h1(onclick='goTwo()') 下一步
  div(data-role='page')#two
    .ui-content(role='main')
      each tag in tags
        a(href='##{tag.pageId}',data-transition='flip').ui-field-contain
          label(for='sign-values') #{tag.title}
          input(type='text',name='#{tag.inputId}',disabled='disabled',id="#{tag.inputId}")
    div(data-role='footer',data-position='fixed')
      div(data-role='navbar')
        ul
          li: button.ui-btn(type='submit',form='user_form') 提交
  each tag in tags
    div(data-role='page',id="#{tag.pageId}").tag
        div(data-role='header')
          div(data-role='navbar')
            ul
              li: button(data-icon='gear',onclick='goBack()') 取消
              li: button(data-icon='star',onclick='setTags("#{tag.pageId}","#{tag.inputId}"),goBack();') 确定
        div(data-role='main')
          .ui-grid-c.selected 
        div(data-role='footer',data-position='fixed')        
          div(data-role='navbar')
            .ui-grid-c
                each option in tag.options 
                  .ui-block-d(onclick='addTag("#{option}","#{tag.pageId}")'): a.ui-shadow.ui-btn.ui-corner-all #{option}
            
  


block append script
  script.
    function selectAge(age){
        $('#age').val(age)
    }
    function goTwo(){
      location.hash='two'
    }
    function goBack(){
        history.go(-1);
    }
    /**
    * @param 
    */
    function addTag(value,pageId) {
      console.log(value,pageId);
      var $page =$('#'+pageId);
        var selectedTagLength= $page.find('.selected').size();
       
        console.log($page);
        var domClass;
        
        switch(selectedTagLength%4){
          case 0:
          domClass='ui-block-b';
          break;
          case 1:
          domClass='ui-block-c';
          break;
          case 1:
          domClass='ui-block-d';
          break;
          default:
          domClass='ui-block-a';
          break;
        }
       var $dom=$('<div class="item '+ domClass+'" onclick="$(this).remove()"><a href="#" class="ui-shadow ui-icon-delete ui-btn-icon-right ui-btn ui-corner-all ui-mini">'+value+'</a></div>');
            $page.find('.selected').append($dom);
            
    }
    /**
    *   @param 标签页,和输入框
    */
    function setTags(tagPageId,inputId){
      var values=[];
      $('#'+tagPageId).find('.selected .item a').toArray().forEach(function(item){
            values.push($(item).text())
      });
      $('#'+inputId).val(values.join(','));

    }
    function signup(){
      location.href='/home?_id='+localStorage.getItem('_id')
    }
    
 